<html>
    <head>

        <style nonce="{{getnonce}}">
            #timeline>li {
                border: solid black 1px;
                list-style: none;
                padding:1rem;
            }
            #timeline>li[data-author="{{.Name}}"] {
                background:yellow
            }
            .panels{
                display: flex; 
                flex-direction: row; 
                justify-content: space-around;
            }
        </style>
    </head>

    <body>
        <h1>Hello {{.Name }}!</h1>

        <div class="panels">
            <div>
            <h1>Timeline</h1>
            <form action="/report" method="POST">
                <input type="submit" value="REPORT SOME ISSUE">
            </form>
            <form action="/tweet" method="POST">
                <input name="tweet_text" type="text" placeholder="tweet your feelings">
                <input type="submit" value="tweet">
            </form>
            <ul id="timeline">
                {{ range .Timeline }}
                <li data-author={{.UserName}}>{{.UserName }}: {{ .Text }}</li>
                {{ end }}
            </ul>
        </div>
        <div>
            <h1>Follow Requests</h1>
            <button id="accept_all">Accept All</button> 
            <ul id="requests"></ul>
        </div>
        <div>
            <h1>Recommended Users</h1>
            <ul id="userlist"></ul>
        </div>
        </div>
    </body>

    <script nonce="{{getnonce}}">
        userDict = {}

        async function findUserName(id) {
            if (!(id in userDict)) {
                userDict[id] = await fetch("/users/"+id+"/name").then(res=>res.json()).then(dict=>dict['name'])
            }
            return userDict[id]
        }

        function createFollowButton(id){
            var button = document.createElement("button")
            button.textContent = "Send Follow Request!"
            button.onclick = ()=>{
                fetch("/followreqs", {
                    method: "POST",
                    credentials: "same-origin",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({to_id:id})
                })
            }
            return button
        }

        async function fetchRecentUsers() {
            const ul = document.getElementById("userlist")
            
            for (var i = Math.max(1, {{.ID}} - 10); {{ .ID }} > i; i++) {
                var li = document.createElement("li")
                li.textContent = await findUserName(i)
                li.appendChild(createFollowButton(i))
                ul.appendChild(li)
            }
        }

        async function fetchFollowRequests() {
            const ul = document.getElementById("requests")
            var reqs = [{{ range .ReceivedFollowRequests }} {{.}}, {{ end }}]
            
            document.getElementById("accept_all").onclick = ()=>{
                for (var i = 0; reqs.length > i; i++) {
                    fetch("/followreqs/accept", {
                        method: "POST",
                        credentials: "same-origin",
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ from_id: reqs[i] })
                    })
                }
                location.href = location.href
            }
            for (var i = 0; reqs.length > i; i++) {
                const req = reqs[i]
                var li = document.createElement("li")
                li.textContent = await findUserName(req)

                var button = document.createElement("button")
                button.textContent = "Deny"
                button.setAttribute("class", "deny")
                button.onclick = () => { 
                    reqs = reqs.filter(c=>c != req)
                    li.remove()
                }
                li.appendChild(button)

                ul.appendChild(li)
            }
        }

        fetchFollowRequests()
        fetchRecentUsers()
    </script>
</html>